# eclipse
.project
.settings/
pom.xml.bak

#intellij
*.iml
intr2dok_module/*.iml
intr2dok_module/target

# application specific files on server
./jwt.secret
messages_de.resolved.properties
messages_en.resolved.properties
deprecated.active.properties
mycore.active.properties
./mycore.properties
mycore.resolved.properties
resources/META-INF/persistence.xml
data/
lib/h2-1.4.196.jar
target